# ignore everything by default
/*

### track these though
!.gitignore

# shell stuff
!.zshrc
!.zprofile

# Allow .config folder, but ignore everything inside by default
!.config/
.config/*

# hyprland setup stuff
!.config/hypr/
!.config/waybar/
!.config/wofi/
!.config/foot/

# for convenience/so i dont forget
!.config/fontconfig/
!.config/gammastep/
!.config/spotify-launcher.conf
!.config/nvim/
!.config/vim/

# keep my wacom tablet settings
!.config/OpenTabletDriver/
.config/OpenTabletDriver/*
!.config/OpenTabletDriver/settings.json


# ABSOLUTELY IGNORE THESE (trash/sensitive)
.config/gh/hosts.yml
.config/git/
